<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhan.qingzhiplatform.mapper.ResourceMapper">
    <update id="update">
        UPDATE resources
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="course != null">course = #{course},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
        </set>
        WHERE id = #{id} AND deleted_at IS NULL
    </update>

    <select id="getResources" resultType="com.zhan.qingzhiplatform.pojo.entity.ResourceEntity">
        SELECT r.*, f.original_name AS fileName, u.name AS userName
        FROM resources r
        LEFT JOIN files f ON r.file_id = f.id
        LEFT JOIN users u ON r.user_id = u.id
        <where>
            r.deleted_at IS NULL
            AND u.deleted_at IS NULL
            <if test='begin != null'> AND r.created_at &gt;= #{begin}</if>
            <if test='end != null'> AND r.created_at &lt;= #{end}</if>
            <if test='status != null'> AND r.status = #{status}</if>
            <if test='!isAdmin and userId != null'> AND (r.status = 1 OR r.user_id = #{userId})</if>
        </where>
        ORDER BY r.created_at DESC
    </select>


</mapper>